<div class="relative">
    <button 
      type="button" 
      (click)="fileInput.click()"
      [disabled]="disabled()"
      class="text-stone-400 hover:text-amber-400 disabled:text-stone-600 disabled:cursor-not-allowed w-12 h-12 flex items-center justify-center transition-colors duration-200"
      aria-label="Upload an image">
      <i class="fa-solid fa-camera fa-lg"></i>
    </button>
    <input 
      type="file" 
      #fileInput 
      (change)="onFileSelected($event)" 
      accept="image/png, image/jpeg" 
      class="hidden" 
    />
</div>
